h1, h2, h3, h4, h5, a, span, body, header, footer {
  font-family: sans-serif;
  font-weight: 300;
  /*-webkit-font-smoothing: antialiased;*/

}
button.menu-btn {
  position: absolute;
  right: 0;
  top: 0;
  display: none;
  border-radius: 0;
  /* Be extra specific to override powerful defaults*/
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  -webkit-appearance: none;
  -moz-appearance: none;

}
body {
  margin: 0;
  width: 100%;
  background-color: #302f2f;
}
header {
  background-color: black;
  padding: 20px;
  max-width: 100%;
}
header>div {
  max-width: 100%;
  padding: 0 40px;
}
header>div#banner-img {
  background-image: url("../images/iJunkie22Logo.png");
  background-size: auto auto;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50% 100%;
  height: 106px;
}
/*header img {
  max-width: 100%;
}*/
header>div#banner-img>span {
  display: none;
}
nav {
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  padding-top: 10px;
  border-top: 1px solid #5d3268;
  text-align: center;
}
nav>a {
  color: white;
  text-decoration: none;
  padding: 10px;
}
nav>a:hover {
  color: #a236ae;
}
section#main-content {
  background-color: white;
  padding: 0 10px;
  box-shadow: 0 0 12px 4px #477e91;
  border: 2px solid #6cceef;
	border-left-width: 0;
    border-right-width: 0;
}

section#main-content>h1:first-of-type {
  margin-top: 0;
  padding-top: 10px;
}
p {
  margin-left: 30px;
}
section#main-content p {
  max-width: 750px;
  line-height: 1.3em;
}
footer {
  margin: 40px 10px 10px;
  bottom: 0;
  vertical-align: bottom;
  text-align: inherit;
  background-color: #302f2f;
  color: #e7e7e7;
  font-size: 0.7em;
}
footer span {

}
span.clause {
  font-size: 0.7em;
  display: block;
}
#twitter-widget-0 {
  max-width: 400px;
}

/* BEGIN TWITTER WIDGET OVERRIDES */
.tweet {
  padding-left: 12px !important;
}
img.u-photo.avatar {
  display: none !important;
}
/* END OVERRIDES */

@media only screen and (max-width: 650px) {
  header {
    padding: 2px;
  }

  header > div#banner-img {
    padding: 0;
    background-size: auto 50px;
    height: 60px;
    margin-right: 60px;
  }

  header > div#banner-img > span {
    display: block;
    font-size: 40pt;
    color: white;
    background-color: rgba(0, 0, 0, 0.8);

  }

  /*header>div>img {
    height: 40px;
    display: inline-block;
  }*/
  button.menu-btn {
    display: inline-block;
    height: 60px;
    width: 60px;
    color: #a236ae;
    background-color: transparent;
    font-size: 2em;
    border-color: transparent;
  }

  header > nav {
    position: absolute;
    /*display: -webkit-flex;
    display: flex;*/
    display: none;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    right: 0;
    top: 64px;
    height: 100%;
    -webkit-order: 10;
    -ms-flex-order: 10;
    order: 10;
    -webkit-flex-direction: column;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.65);
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    padding-top: 0;
    text-align: right;
    max-height: calc(100% - 64px);
    width: 100%; /* This is automatic for -webkit-flex*/
  }

  header > nav > a {
    font-size: 1.2em;
    display: block;
    background-color: #141414;
    margin: 1px 1px;
  }

  header > nav > a.current-link {
    color: #a236ae;
    font-weight: 400;
  }

}
code {
  padding: 1px 3px;
  background-color: #a3a3a3;
  border-radius: 2px;
}
code, code>span {
  font-family: monospace;
  white-space: nowrap;
  font-weight: bold;
}

aside {
  float: right;
  height: 100%;
}

section a {
  color: #346cb0;
  text-decoration: none;
}
div.seperator {
  display: inline;
}
div.seperator::before {
  color: #346cb0;
  content: "|";
}